.navbar{
    background-color: #AAFC73;
    color: black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.section1{
    color: black;
    margin-top: 10rem;
    font-size: .7rem;
    height: 100vh;
}
.content1{
    margin: 80px;
    line-height: 30px;
}
.logo{
    display: flex;
    justify-content: center;
}

header img{
    height: 60px;
    transition: height 0.5s ease-in-out; /* Add transition for max-height */
}

.shrink {
    height: 45px; /* Set your desired height here */

}

@media (max-width:1199px) {
    .container{
        justify-content: flex-end !important;
    }
}